@charset "utf-8";

.about {margin: 0 auto;
	padding: 50px 50px;	
}

.gradient-bg {
    overflow: hidden;
    text-align: left;
    font-family: sans-serif;
    font-size: 16px;
    font-weight:bold;
    line-height: 2;
    padding:25px;

-webkit-animation: glow linear 30s infinite; 
    animation: glow linear 30s infinite; } 
@-webkit-keyframes glow { 
0% {
    background-color: rgba(0, 204, 255, .2);
}
12.5% {
    background-color: rgba(0, 98, 255, .2);
}
25% {
    background-color: rgba(104, 0, 173, .2);
}
37.5% {
    background-color: rgba(178, 0, 176, .2);
}
50% {
    background-color: rgba(224, 4, 63, .2);
}
62.5% {
    background-color: rgba(178, 0, 176, .2);
}
75% {
    background-color: rgba(104, 0, 173, .2);
}
87.5% {
    background-color: rgba(0, 98, 255, .2);
}
100% {
    background-color: rgba(0, 204, 255, .2);
}
} 
@keyframes glow { 
0% {
    background-color: rgba(0, 204, 255, .2);
}
12.5% {
    background-color: rgba(0, 98, 255, .2);
}
25% {
    background-color: rgba(104, 0, 173, .2);
}
37.5% {
    background-color: rgba(178, 0, 176, .2);
}
50% {
    background-color: rgba(224, 4, 63, .2);
}
62.5% {
    background-color: rgba(178, 0, 176, .2);
}
75% {
    background-color: rgba(104, 0, 173, .2);
}
87.5% {
    background-color: rgba(0, 98, 255, .2);
}
100% {
    background-color: rgba(0, 204, 255, .2);
}
}
}